@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Add Friend";
}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css'>

<div class="friends-container">
	<div class="header-flex-container">		
		<h1 class="header-in-flex">Добавить друга</h1>
		<button title="Cancel add friend" class="in-header-btn" onclick="location.href='@Url.Action("Index", "Friend")'">
			<i class="header-icon fi fi-bs-cross"></i>
		</button>
	</div>
	
	<form method="post" asp-controller="Friend" asp-action="Add" class="friend-div border">
		<div class="flex-container">
			<div class="flex-item fields-to-fill">
				<div>
					<p>Имя</p>
					<p><input type="text" name="name" class="border input-text" /></p>
				</div>
				<div>
					<p>Город</p>
					<p><input type="text" name="place" class="border input-text" /></p>
				</div>
			</div>
			<div class="flex-item icons"></div>
		</div>

		

		<p><input class="btn border add-friend" type="submit" value="Добавить друга" /></p>
	</form>
</div>
