html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar-b {
    margin-left: 20px;
}

body {
    margin-bottom: 60px;
}

.friends-container {
    width: 60%;
    margin: auto;
}

.friend-div {
    border-radius: 15px;
    width: auto;
    margin: 10px;
    padding: 15px 30px;
    background-color: #e0e0e0;
}

.friend-p {
    margin: 0;
    padding: 0;
}

p {
}

.btn {
    border: none;
    margin: 0;
    padding: 3px;
}

    button:focus {
        background-color: #7a2f2f;
    }
